root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cpp,h,hpp,cc,cxx,l,y}]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.{cmake,json,yml,yaml}]
indent_style = space
indent_size = 2

[CMakeLists.txt]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false
